@charset "tis-620";
/* CSS Document */

.form {
	margin:0;
	padding:0;
	font-size:16px;
}
.form fieldset{
	border: #0000CC solid 1px;
	width:30%;
	margin-bottom:20px;
	background-color:#999999;
}
.form legend{
	font-size:14px;
	font-weight:bolder;
	padding:4px;
	background-color:#990099;
	color:#FFFFFF
}
.formfont{
font-size:12px;
}
.form input{
	border:1px solid #cce0b8;
	padding:4px;
	color:#0000CC;
}
.form textarea{
	border:1px solid #cce0b8;
	padding:6px;
	color:#0000CC;
}
.errors{
	color: #900;
	margin:10px;
	font-size:18px;
	font-style:italic;
	border-bottom:1px dotted #CCC;
	width:20%;
}
.done{
	color: #090;
	margin:10px;
	font-size:18px;
	font-style:italic;
	border-bottom:1px dotted #CCC;
	width:25s%;
}
